@import "tailwindcss";

* {
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fdfaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-dm-sans {
  font-family: "DM Sans", sans-serif;
}
